:root{
  --editor-bg-color: #404040;
  --editor-text-color: white;
  --editor-row-even-bg: #505050;
  --editor-row-odd-bg: #606060;
  --editor-cursor-color: #ffffff;
}

input[type=text]{
  opacity: 0;
  pointer-events: none;
  position: fixed;
}

text-editor{
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: var(--editor-bg-color);
  color: var(--editor-text-color);
  overflow: auto;
  position: relative;
  padding-bottom: calc(1em * 4);
}

text-row{
  display: block;
  cursor: text;
  height: 1em;
  white-space: pre;

  /* &:nth-child(even){
    background-color: var(--editor-row-even-bg);
  }

  &:nth-child(odd){
    background-color: var(--editor-row-odd-bg);
  } */
}

editor-cursor{
  width: 0.1ch;
  height: 1em;
  background-color: var(--editor-cursor-color);
  display: inline-block;
  animation: blink 1s steps(1) infinite;
  position: absolute;
}

@keyframes blink {
  0% { background-color: #ffffff; }
  50% { background-color: transparent; }
  100% { background-color: #ffffff; }
}