:root{
  --text-editor-bg: #303030;
  --text-editor-font-color: #fff;
}

text-editor{
  background-color: var(--text-editor-bg);
  display: block;
  color: var(--text-editor-font-color);
  /* Height and width should be set by the user */
  height: 100%; 
}

text-row{
  display: block;
  cursor: text;
  height: 1em;
  white-space: pre;
}

editor-cursor{
  display: inline-block;
  width: .1ch;
  height: 1em;
  background-color: var(--text-editor-font-color);
  position: absolute;
}